body {
  display: flex;
  height:100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.button {
  color: #F45027;
  border: 1px solid #F45027;
  border-radius: 10px;
  padding: 15px 0px;
  font-size: 15px;
  cursor: pointer;
  font-weight: normal;
  filter: drop-shadow(0 0 15px #F45027) drop-shadow(0 0 50px #F45027) contrast(2) brightness(2);
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  width: 150px;
  height: 50px;
}

.button:hover {
  color: black;
  background-color: #F45027;
  filter: drop-shadow(0 0 20px #F45027) contrast(2) brightness(2);
}
.pai {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
.button{
  top: 70px;
}
}