.chat-window {
  padding: 10px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #525252;
  border-radius: 10px;
 background-color: #1C1F26;
 overflow-y: scroll;
}

.main-container {
display: flex;
justify-content: center;
align-items: center;
padding-top: 200px;
}
* {
  scrollbar-width: thin; 
  scrollbar-color: #1C1F26 transparent;
}

*::-webkit-scrollbar {
  width: 10px; 
  height: 14px; 
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #1C1F26;
  border-radius: 14px;
  border: 1px solid #525252;
}

*::-webkit-scrollbar-thumb:hover {
  background: #1C1F26;
}
