
<!-- navbar -->

<div class="containerr">
    <div class="navbar">
      <div class="dir">
        <a routerLink="#"><img src="assets/logo.png" alt="logo" /></a>
      </div>
      <div class="esq1">
        <button class="log" (click)="openDialog('3000ms', '1500ms')"><mat-icon>account_circle</mat-icon>Login</button>
      </div>
    </div>
  </div>

<!-- home -->
<div class="container">
  <div class="esq">
    <div class="esq-conteudo">
      <h1>#Seja bem-vindo, administrador!</h1>
    </div>
    <div class="logo-git">
      <img src="assets/git.png" alt="" />
    </div>
  </div>
</div>

