
<!-- navbar -->

<div class="containerr">
    <div class="navbar">
      <div class="dir">
        <a href="#"><img src="assets/logo.png" alt="logo" /></a>
      </div>
      <div class="esq">
        <button (click)="openDialog('3000ms', '1500ms')"><mat-icon>account_circle</mat-icon>Login</button>
      </div>
    </div>
  </div>

<!-- home -->
<div class="container">
  <div class="esq">
    <div class="esq-conteudo">
      <h1>#Welcome admin!</h1>
      <p>&lt;Share your projects directly from GitHub/&gt;</p> 
    </div>
    <div class="logo-git">
      <img src="assets/git.png" alt="" />
    </div>
  </div>
  <div></div>
  
</div>

