/* navbar */


.containerr {
  position: absolute; 
  top: 0;
  left: 0%;
  width: 100%;
  height: 4em;
  z-index: 10;
  border-bottom: 2px solid blueviolet;
}

.navbar {
  display: flex;
  padding: 5;
  height: 100%;
  position: static;
  justify-content: space-between;
  margin-right: 25px;
  margin-left: 25px;
}

.esq1,
.dir {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}

.dir img {
  width: 50px;
  height: 50px;
}
.dir img:hover {
  opacity: 0.3;
}
.esq1 button:hover {
  opacity: 0.3;
}
.esq1 :nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
button {
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid blueviolet;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin-right: 10px;

    
}
.esq1 :nth-child(2) {
  margin-left: 10px;
}
mat-icon {
  margin-right: 5px;
}

@media(max-width:300px) {
  .esq1{
    display: flex;
    align-items:stretch; 

  } 
  .navbar {
    width: 100%;
  }
}

/* home */

.log {
  display: flex;
  color: rgb(15, 13, 13);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/background.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 100%;
  min-height: 600px;
}

.esq {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.esq h1 {
  font-size: 3em;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-git img {
width: 150px;
height: 150px;

}

/* @media (max-width: 900px) {
  #landing-left-content h1 {
      font-size: 2em;
  }
  #landing-left-content p {
      font-size: 1em;
  }
  .logo-git img {
      width: 100px;
      height: 100px;
      display: none;
  }
  #home-page-landing {
      background-size: 100%;
      
  }    
  .esq-conteudo{
      display: flex;
      flex-direction:column; 
      justify-content:center; 
      align-items:center; 
      width: 100%;
  }
} 

@media (max-width: 768px) {
  .esq{
      margin: 0 auto;
      display: flex;
      margin-left:50px;
      }
   #landing-left-content h1 {
      font-size: 3em;
  }
  #landing-left-content p {
      font-size: 1em;
  }
  .logo-git img {
      width: 10px;
      height: 100px;
  }
  #home-page-landing {
      background-size: 100%;
      
  }     
} 

@media (max-width: 992px) {
  #landing-left-content h1 {
      font-size: 3em;
  }
  #landing-left-content p {
      font-size: 1em;
  }
  .logo-git img {
      width: 10px;
      height: 100px;
  }
  #home-page-landing {
      background-size: 100%;
      
  }     
}  */


















/* navbar */
