<app-nav-bar-admin></app-nav-bar-admin>
<app-sidebar-admin></app-sidebar-admin>
<div class="container">
    <mat-card *ngFor="let post of posts">
        <mat-card-header>
            <img src="{{post?.creatorPhoto}}" alt="" (click)="openUserInfo(post)">
            <mat-card-title class="title">{{post?.creatorName}}</mat-card-title>
            <mat-card-subtitle class="title">{{post?.date}}</mat-card-subtitle>

    <!--         <button id="menu" class="menu" mat-icon-button [matMenuTriggerFor]="menu" class="action-item">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <i class='bx bx-trash-alt'></i>
                    <span (click)="deletePost(post?.postId)" class="trash">Deletar post</span>
                </button>
            </mat-menu> -->

        </mat-card-header>
        <img *ngIf="post?.imageUrl != ''" mat-card-image src="{{post?.imageUrl}}" class="img">
        <video *ngIf=" post?.videoUrl != ''" width="270" height="210" controls>
            <source src="{{post?.videoUrl}}" type="video/mp4">
        </video>
        <mat-card-content class="contador">
            {{post?.description}}
        </mat-card-content>
    </mat-card>
</div>