.action-item {
  display: flex;
  display: inline-block;
  justify-content: center;
  display: space-around;
}

.contador {
  display: flex;
  display: space-around;
}

mat-card {
  position: relative;
  top: 200px;
  width: 25%;

  height: 400px;
  margin-bottom: 80px;
  margin-right: 100px;
  border: 3px solid #525252;
  border-radius: 5px;
}
mat-card img {
  height: 200px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
mat-card-header img {
  position: absolute;
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.title {
  margin-left: 40px;
}
mat-card-actions mat-icon {
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
mat-icon {
  color: black;
  font-size: 30px;
  cursor: pointer;
}

mat-icon {
  color: black;
}

mat-card-header {
  height: 80px;
  max-height: 80px;
}
mat-card-actions {
  position: absolute;
  bottom: 10px;
  margin-top: 10px;
}

.action-item:hover {
  color: green;
}
.action-item2 {
  margin-left: 10px;
}
.action-item2:hover {
  color: red;
}
