<div id="authenticator">
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <div [formGroup]="loginForm" (ngSubmit)="login()">
      <input
        mat-input
        formControlName="email"
        name="email"
        placeholder="Your email here"
        autocomplete="off"
        type="email"
      />
      <input
        mat-input
        autocomplete="off"
        placeholder="Your password here"
        type="password"
        formControlName="password"
        name="password"
      />
      <button mat-flat-button [disabled]="loginForm.invalid" type="submit">
        Login
      </button>
    </div>
  </mat-card>
</div>
