mat-form-field {
  color: white;
}
mat-hint {
  color: white;
}
mat-label {
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section {
  height: 100%;
}

.delete {
  width: 150px;
  margin-top: 15px;
}

.formSubmit {
  width: 150px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}
.formSubmit {
  background-color: #525252;
  color: white;
}