<div class="container">
    <mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Name</mat-card-title>
        <mat-card-subtitle class="title">Description</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Bárbara Gama</mat-card-title>
        <mat-card-subtitle class="title">@gamabarbara</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Bárbara Gama</mat-card-title>
        <mat-card-subtitle class="title">@gamabarbara</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Bárbara Gama</mat-card-title>
        <mat-card-subtitle class="title">@gamabarbara</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Bárbara Gama</mat-card-title>
        <mat-card-subtitle class="title">@gamabarbara</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <img src="assets/logo.png" alt="">
        <mat-card-title class="title">Bárbara Gama</mat-card-title>
        <mat-card-subtitle class="title">@gamabarbara</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/logo-dialog.png">
    <mat-card-content>
        Like, Share and Subscribe!
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item">favorite_border</mat-icon>
        <mat-icon class="action-item">bookmark_border</mat-icon>
    </mat-card-actions>
</mat-card>
</div>