<div class="container">
    <mat-card *ngFor="let post of posts">
        <mat-card-header>
            <img src="{{post?.creatorPhoto}}" alt="">
            <mat-card-title class="title">{{post?.creatorName}}</mat-card-title>
            <mat-card-subtitle class="title">{{post?.timestamp?.seconds}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{post?.imageUrl}}" class="img">
        <mat-card-content class="contador">
            {{post?.comment}}
        </mat-card-content>

        <mat-card-actions class="contador">
            <mat-icon (click)="onReplyClick()" class="action-item">chat_bubble_outline</mat-icon>
            <p>{{numberOfLike}}</p>
            <mat-icon class="action-item" (click)="likeButtonClick()">favorite_border</mat-icon>
            <mat-icon class="action-item">bookmark_border</mat-icon>

            <mat-icon *ngIf="post?.creatorId == userUid" class="action-item" (click)="deletePost(post?.postId)">delete
            </mat-icon>
        </mat-card-actions>
    </mat-card>
</div>