#avatar {
  border-radius: 50%;
  border: 5px solid black;
}
main {
  height: 100%;
  background-color: rgb(19, 19, 19);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.userinfo {
  color: rgb(0, 0, 0);
  width: 60%;
  font-size: 80%;
  padding-top: 5%;
}
.example-card {
  margin-top: 10%;
  width: 60%;
  border-radius: 10px;
  padding-top: 0;
}
#teste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -12%;
}

mat-card-title {
  padding-top: 2%;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  margin-top: 10%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
} */

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#activities {
  padding-right: 20%;
}

span {
  margin-top: 10px;
  font-size: 15px;
}

h2 {
  color: black;
}

.userpanel {
  width: 60%;
  height: 300px;
  color: azure;
  border-top: none;
}

.tablecontainer {
  padding-top: 30px;
}

td {
  font-size: 11px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: fit-content;
  border-radius: 10px;
}
#right {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: fit-content;
  border-radius: 10px;
}
p {
  padding: 10px;
}

#editprofile {
  background-color: rgb(19, 19, 19) !important;
  color: white;
}
#editprofile:hover {
  opacity: 0.8;
}

table {
  width: 100%;
  border-radius: 10px;
  /* background-color: white !important; */
  overflow: hidden !important;
}

.repositories {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 60%;
}

@media (max-width: 700px) {
  .example-card {
    width: 90%;
  }
  .container2 {
    width: 90%;
  }
}
