img {
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  margin-top: -30px;
}
main {
  height: 100vh;
  background-image: url("src/assets/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.userinfo {
  color: white;
  width: 60%;
  font-size: 80%;
  padding-top: 5%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
  margin-top: 10%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#activities {
  padding-right: 20%;
}

span {
  margin-top: 10px;
  color: black;
}
h2 {
  color: black;
}

.userpanel {
  width: 60%;
  height: 300px;
  color: azure;
  border-top: none;
}

.tablecontainer {
  padding-top: 30px;
}

td {
  font-size: 11px;
}
.container2 {
  display: flex;
  padding-top: 20px;
  width: 60%;
  justify-content: space-between;
}
#left {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: fit-content;
  border-radius: 10px;
}
#right {
  background-color: rgb(255, 255, 255);
  width: 75%;
  height: fit-content;
  border-radius: 10px;
}
p {
  padding: 10px;
}
