<!--navbar-->
<div class="containerr">
  <div class="navbar">
    <div class="dir">
    <a routerLink="/feed"><img src="assets/logo.png" alt="logo" /></a>
    </div>
    <!-- <div class="esq1">
      <button class="log">Login</button>
    </div> -->
  </div>
</div>

<!--Home page-->
<div class="container">
    <div id="error">
      <h2>404</h2>
      <h1>Page Not Found</h1>
      <p>The specified file was not found on this website. Please check the URL for mistakes and try again.</p>
    </div>
    <div class="logo-git">
      <img src="assets/git.png" alt="" />
    </div>

</div>
