.container {
  color: white;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.but {
  justify-content: end;
}
.but button {
  background-color: #525252;
}
.container h1 {
  font-size: 15px;
  border-bottom: 1px solid rebeccapurple;
}
.email::placeholder {
  color: #ffffff;
  font-size: 10px;
}
mat-label {
  color: #ffffff;
}
input {
  background-color: transparent;
  color: white;
  width: 100%;
}
