<div mat-dialog-container class="top">
  <p>Login to DevHub</p>
</div>
<div class="content">
  <p>Login to have access to the best social media for developer of the world!</p>
</div>
<div class="content-button">
  <button><img src="assets/logo-git-dialog.png" alt="">Connect with GitHub</button>
</div>
<div class="content-button-2" >
  <button><img src="assets/logo-google.png" alt="" >Connect with Gmail</button>
</div>
<div class="botton">
  <p>By signing in I accept the Terms of Service and the Privacy Policy.</p>
</div>